@using System.Net.Http
@using WebFrontend.Data
@inject HttpClient Http

<h3>GEOTabelle</h3>
<h1> Ausgabe der GEODB Werte</h1>
<TableTemplate Items="countries" Context="countrie">
    <TableHeader>
        <th>ID</th>
        <th>Name</th>
    </TableHeader>
    <RowTemplate>
        <td>@countrie.id</td>
        <td>@countrie.name</td>
    </RowTemplate>
</TableTemplate>

@code {
    private List<Country> countries = new()
    {
            new Country { id = 1, name = "test" }


        };


}
